* {
  box-sizing: border-box;
}

.elements__list {
  display: grid;
  grid-template-columns: repeat(3, 282px);
  justify-content: center;
  gap: 17px;
  list-style: none;
  padding-top: 50px;
  margin: 0 auto;
}

.element {
  width: 282px;
  height: 361px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.element__image {
  width: 100%;
  height: 282px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.element__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 15px 31px 21px;
  width: 100%;
  box-sizing: border-box;
}

.element__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.element__like-button {
  width: 21px;
  height: 19px;
  background-image: url(../images/Coracao.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.element__like-button:hover {
  opacity: 0.5;
}

.element__like-button_active {
  background-image: url(../images/coracaopreenchido.svg);
}

@media screen and (max-width: 1024px) {
  .elements__list {
    grid-template-columns: repeat(2, 282px);
    gap: 17px;
    padding-top: 36px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 544px) {
  .elements__list {
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 282px;
    gap: 20px;
    padding-top: 36px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }

  .element {
    width: 100%;
    max-width: 282px;
    height: 361px;
    margin: 0 auto;
  }

  .element__image {
    height: 282px;
    width: 100%;
  }

  .element__title-wrapper {
    padding: 25px 15px 31px 21px;
  }

  .element__title {
    font-size: 24px;
    line-height: 29px;
  }

  .element__like-button {
    width: 21px;
    height: 19px;
  }
}
