.footer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 67px 0 60px 200px;
}

.footer__copyright {
  color: #545454;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  opacity: 1;
}

@media (max-width: 544px) {
  .footer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0; /* espaçamento do conteúdo acima */
    color: #545454;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }

  .footer__copyright {
    color: #545454;
    font-family: "Inter", sans-serif;
    font-size: 14px; /* atualizado para mobile */
    font-weight: 400;
    line-height: 100%;
    text-align: center;
  }
}
