* {
  box-sizing: border-box;
}

.footer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 67px 0 60px 200px;
}

.footer__copyright {
  color: #545454;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  opacity: 1;
}

@media screen and (max-width: 544px) {
  .footer {
    width: 282px;
    margin: 48px auto 36px;
    justify-content: center;
  }

  .footer__copyright {
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
