* {
  box-sizing: border-box;
}

.header {
  display: flex;
  max-width: 880px;
  height: 74px;
  border-width: 1px solid;
  margin: 0 auto;
  padding-bottom: 41px;
}

.header__logo {
  justify-content: flex-start;
  width: 173px;
  height: 33px;
  margin-top: 45px;
}

.header__line-image {
  display: block;
  width: 880px;
  height: 1px;
  opacity: 0.7;
  margin-top: 41px;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

@media screen and (max-width: 544px) {
  .header {
    width: 100%;
    max-width: 320px;
    padding-top: 28px;
    padding-bottom: 0;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin: 0 0 0 27px;
    display: block;
  }

  .header__line-image {
    width: 100%;
    max-width: 320px;
    height: 1px;
    margin-top: 24px;
    margin-left: 0;
    margin-right: 0;
    border: none;
  }
}
