.popup {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup_opened {
  display: flex;
}

.popup__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.popup__container {
  width: 430px;
  height: 330px;
  background-color: #fff;
  border-radius: 10px;
  padding: 36px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin: 0 auto;
}

.popup__text,
.popup__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin: 0 0 54px 0;
}

.popup__input {
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  outline: none;
}

.popup__input:last-of-type {
  margin-bottom: 0;
}

.popup__button {
  width: 100%;
  height: 50px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  margin-top: 48px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.popup__button:hover {
  opacity: 0.8;
}

.popup__button:active {
  opacity: 0.8;
}

.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.popup__close-button:hover {
  opacity: 0.6;
}

.popup__close-button::before,
.popup__close-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 28px;
  height: 2px;
  background-color: #fff;
  transform-origin: center;
}

.popup__close-button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.popup__close-button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.profile__edit-button,
.profile__add-button {
  transition: opacity 0.2s ease;
}
.profile__edit-button:hover,
.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 544px) {
  .popup__container {
    width: 90%; /* ocupa 90% da tela */
    max-width: 320px; /* largura máxima para telas pequenas */
    padding: 25px;
    height: auto; /* altura ajustável */
    border-radius: 10px;
    box-sizing: border-box;
  }

  .popup__input {
    width: 100%;
    max-width: 238px;
    height: 26px;
    margin-bottom: 20px;
    font-size: 14px;
  }

  .popup__button {
    width: 100%;
    max-width: 238px;
    height: 46px;
    font-size: 16px;
    margin-top: 20px;
  }

  .popup__close-button {
    width: 26px;
    height: 26px;
    top: -20px; /* ajustado proporcionalmente */
    right: -20px; /* ajustado proporcionalmente */
    position: absolute;
  }
}
