* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden;
}

.page {
  margin: 0 auto;
  max-width: 1280px;
  font-family: "Inter", Arial, sans-serif;
  background-color: black;
  min-height: 100vh;
}

@media screen and (max-width: 544px) {
  .page {
    width: 320px;
    overflow-x: hidden;
  }

  * {
    max-width: 100%;
  }
}
